/* body{
    background-color:wheat;
} */
p{
    color: #964B00;
}
p,h1,h3{
    text-align: center;
}
p{
    color: red;
    line-height: 2;
    letter-spacing: 2px;
    
}
h3{
    color:black
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    background-color: #fff;
    color: blueviolet;
}
a{
    color: green;
    text-decoration: none;
}
textarea{
    color: #000;
}
span{
    text-decoration: underline;
}