#myid p{
    color: green;
}
#q3{
    font-family: 'Courier New', Courier, monospace;
}
#q3 h1{
    color: #1b74e4;
}

#searchbtn {
    background-color: #000;
    color:#fff
}
.userbtn {
    background-color: aqua;
}

