h1 {
    color: blue;
    font-size: 50px;
    text-decoration: underline;
  }
  
  #face {
    background-color: yellow;
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }
  
  #mouth{
      background-color: red;
      height: 75px;
      width: 200px;
      position: absolute;
     top:400px;
     left: 100px;
     border-radius: 0 0 50px 50px;
    }
  
    .eye{
      background-color: black;
      height: 50px;
      width:50px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 250px;
      left: 120px;
    }
  
    #righteye{
      position: absolute;
      left: 250px;
    }
  
    .eyeball{
      background-color: #fff;
      height: 20px;
      width:20px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 265px;
      left: 135px;
    }
  
    #righteyeball{
      position: absolute;
      left: 265px;
    }